<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Password Reset Done</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="{% static 'one-page-wonder.css' %}" rel="stylesheet">

  <style media="screen">
  	*{
  		font-family: "Poppins"!important;
  	}
  	p,li{
  		color:#866ec7!important;
  	}
  	h2{}
      .pur{
        font-size: 25px;
      }
      .spec{color:white;}
  </style>
      <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  </head>

  <body class="text-center" >
    <br><br>
      <h1>Thank you for changing your password!</h1>
      <br>
      <h4> <a href="{% url 'Loginuser' %}">Login</a> again from here.</h4>
      <br>
      <p>The CollegeCollab Team</p>
  </body>
</html>
