<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'studentHome' %}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'viewEssay' %}">Essays</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'testing' %}">Standardised Testing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'activity' %}">Activities</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'transcripts' %}">School Transcripts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'lor' %}">LORs</a>
      </li>
    </ul>
    </div>
    </nav>
{% if error %}

<h1>{{error}}</h1>
<br>
{% endif %}

<br><br>

ACT
<div class="">
  {% for i in scores.all %}
  {{i.date}}
  {%endfor%}

</div>
<br>
SAT
<div class="">
  {% for i in sat.all %}
  {{i.date}}
  {%endfor%}

</div>
<br>
Subject Tests

<div class="">
  {% for i in subject.all %}
  {{i.date}}
  {%endfor%}

</div>


<button type="button" name="button"> <a href="{% url 'testing' %}"> Add a score </a> </button>

  </body>
</html>
