

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <meta charset="utf-8">
    <title>Login</title>
    <style media="screen">
      .spec{
        margin-bottom:20px;
      }
			*{
			font-family: 'Poppins', sans-serif;
			}
				nav{
					background-color:#866ec7!important;
				}
				h1{
					color:#866ec7;
				}
				input{
					border:2px solid #866ec7!important;
					padding: 10px;
				}
				input::placeholder{
					color:#866ec7!important;
				}
				button{
					padding: 10px;
					background-color: #866ec7!important;
					color: white!important;
				}
    </style>
  </head>
  <body>
  <div class="conatiner" style="width:30%;margin:0 auto;margin-top: 150px;">

<h1 class="text-center spec">College Collab</h1>
<br>
{% if error %}
{{error}}
{% endif %}
  <form method="post" action="{% url 'changePassword'%}">
    {% csrf_token %}
  <div class="form-group">
    <!-- <label for="exampleInputEmail1">Email address</label> -->
    <input placeholder="Current password"type="password" class="form-control" id="exampleInputEmail1" name="current" aria-describedby="emailHelp">
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <div class="form-group">
    <!-- <label for="exampleInputEmail1">Email address</label> -->
    <input placeholder="New Password"type="password" class="form-control" id="exampleInputEmail1" name="new" aria-describedby="emailHelp">
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <div class="form-group">
    <!-- <label for="exampleInputEmail1">Email address</label> -->
    <input placeholder="Verify password"type="password" class="form-control" id="exampleInputEmail1" name="newVerify" aria-describedby="emailHelp">
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <br>
  <button type="submit" class="btn">Submit</button>
  </form>
  </div>

  </body>
</html>
