{% load static %}
<!doctype html>
<html lang="en">

<head>
    <style>
        body {
            display: flex;
        }
    </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{% static 'super.css' %}"> -->
    <link rel="stylesheet" href="{% static 'footer.css' %}">
    <script src="https://use.fontawesome.com/977b0e453b.js"></script>
    <script src="https://api.collegeai.com/v1/api/bundle.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Add Colleges</title>
</head>

<body>
    <div>
        <div class="collegeai collegeai-session-data" data-api-key="zPrUOEVtV86G"></div>
        <div class="collegeai-acceptance-curves" data-college-unit-id="{{unitid}}"></div>
        <div class="collegeai-acceptance-scatter-plot" data-college-unit-id="{{unitid}}"></div>
        <div class="collegeai collegeai-college-info-table"
            data-info-ids="student-faculty-ratio,average-net-cost,average_books_and_supplies_cost,academic_major_graduates"
            data-college-unit-id="{{unitid}}" data-show-header="false"></div>
    </div>

    <!-- <footer class="site-footer">

        College Collab by Kepler Developers
    </footer> -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>